<h1 class="text-3xl font-bold underline">Hello world</h1>

<%# turbo frame, it will reflect the changes in the UI without reloading %>
<%# the element rendered corresponds to any html file containing a turbo-frame with the specified ID. %>
<%= turbo_frame_tag "counter", src: increment_path %>